.header {
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header-container .header {
    height: 100vh;
    background-attachment: fixed;
}
.imageblock-container .header {
    width: 100vw;
    min-height: 700px;
    background-attachment: fixed;
}
.android .header-container .header,
.android .imageblock-container .header,
.ios .header-container .header,
.ios .imageblock-container .header {
    background-attachment: scroll;
}
.imageblock-container .header .title {
    padding: 5% 0;
}
.imageblock-container .header .title > .title {
    padding: 10% 0 0 0;
}
.header .title.image {
    max-width: 85vw;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.imageblock-container .header-content.title.image {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.header .title.image img {
    max-width: 700px;
}
.header .title {
    max-width: 85vw;
}
.header .title {
    position: relative;
    z-index: 500;
    -webkit-animation: fadeup 0.4s ease-out;
    -moz-animation: fadeup 0.4s ease-out;
    -ms-animation: fadeup 0.4s ease-out;
    -o-animation: fadeup 0.4s ease-out;
    animation: fadeup 0.4s ease-out;
}
.header .title h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    letter-spacing: -0.02em;
    margin-top: -4px;
}
.featured-header .title h1 {
    font-size: 29px;
    line-height: 29px;
    text-transform: none;
}
.header .title.longtext h1 {
    font-size: 35px;
    line-height: 35px;
}
.header .title.topoffset {
    margin-top: 16px;
}
.header .title.image {
    margin: 0 auto;
}
.header .title.image a {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header .title.image a:hover {
    opacity: 0.75;
}
.header .title.image img {
    width: 100%;
    height: auto;
}
.header.portrait-title-image {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header.portrait-title-image .title.image {
    max-width: 180px;
}
.header .subtitle {
    margin-top: 8px;
    position: relative;
    z-index: 500;
    -webkit-animation: fadeup 0.6s ease-out;
    -moz-animation: fadeup 0.6s ease-out;
    -ms-animation: fadeup 0.6s ease-out;
    -o-animation: fadeup 0.6s ease-out;
    animation: fadeup 0.6s ease-out;
}
.header .subtitle.smalltext {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 8px;
}
.header .subtitle h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.featured-header .subtitle h2 {
    font-size: 13px;
    line-height: 16px;
}
.header .subtitle:last-child {
    margin-bottom: 20px;
}
.header .subtitle.smalltext h2 {
    font-size: 16px;
    line-height: 22px;
}
.header.longtext .subtitle {
    display: none;
}
.header .rowbutton {
    margin-top: 14px;
    position: relative;
    z-index: 500;
    -webkit-animation: fadeup 0.8s ease-out;
    -moz-animation: fadeup 0.8s ease-out;
    -ms-animation: fadeup 0.8s ease-out;
    -o-animation: fadeup 0.8s ease-out;
    animation: fadeup 0.8s ease-out;
}
.header .rowbutton .button {
    color: #fff;
    border-color: rgba(255, 255, 255, 1);
}
.header .rowbutton .button:nth-of-type(n + 1) {
    margin-top: 15px;
}
.header .rowbutton .button:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.social {
    text-align: center;
    position: absolute;
    bottom: 15vh;
    width: 100%;
    z-index: 2;
}
.imageblock-container .social {
    bottom: 100px;
}
.imageblock-container .social {
    bottom: 100px;
}
.social a {
    display: inline-block;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-out;
}
.social a:hover {
    opacity: 1;
}
.social a span {
    position: relative;
    float: left;
    display: inline;
    margin: 0 5px;
    text-indent: -9999em;
    width: 30px;
    height: 30px;
    line-height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-behavior: url(./backgroundsize.min.htc);
}
.social .twitter span {
    background-image: url(../images/social-twitter-transparent@2x.png);
}
.social .facebook span {
    background-image: url(../images/social-facebook-transparent@2x.png);
}
.social .instagram span {
    background-image: url(../images/social-instagram-transparent@2x.png);
}
.social .youtube span {
    background-image: url(../images/social-youtube-transparent@2x.png);
}
.social .podcast span {
    background-image: url(../images/social-podcast-transparent@2x.png);
}
.subpage-header .subpage-header-image {
    height: 610px;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    padding: 0;
}
.subpage-header a {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.subpage-header .section-row {
    padding-top: 0;
    padding-bottom: 0;
}
.subpage-header-details {
    margin-top: 20px !important;
}
.subpage-header .rowtitles {
    margin-top: -10px;
    margin-bottom: 15px;
}
.subpage-header .rowtitle {
    color: #898989;
}
.subpage-header .rowsubtitle {
    color: #464646;
}
.subpage-header .info {
    color: #898989;
    margin-bottom: 20px;
}
.subpage-header .icon {
    font-size: inherit;
    margin-left: 0;
    margin-right: 0;
}
.subpage-header .info .avatar {
    width: 45px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    opacity: 1;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.subpage-header .info .avatar:hover {
    opacity: 0.75;
}
.subpage-header .info .avatar img {
    width: 100%;
    height: auto;
}
.subpage-header .info .person {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}
.subpage-header .info .more {
    display: none;
}
.subpage-header .info .name {
    font-weight: 700;
}
.subpage-header .info .name a {
    color: #898989;
}
.subpage-header .info .name a:hover {
    color: #464646;
}
.subpage-header .info .time {
    font-weight: 300;
    position: relative;
    top: -2px;
}
.subpage-header .eventdetails {
    margin-bottom: 0;
}
.subpage-header .item {
    display: inline-block;
    margin-right: 15px;
}
.subpage-header .item:last-child {
    margin-right: 0;
}
.subpage-header .item .icon {
    margin-right: 5px;
}
.subpage-header .details {
    margin-bottom: 20px;
}
.subpage-header .details a {
    color: #898989;
}
.event .subpage-header .address .icon {
    font-size: 18px;
}
.event .subpage-header .calendar-text {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}
.single-post .subpage-header + .section-wrap .section-row {
    padding-top: 0;
}
.headerwithvideo .headervideo {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    background-size: cover;
    z-index: 0;
}
.firefox .headerwithvideo .headervideo {
    height: auto;
}
.headerwithslideshowbg .headerslideshowcontainer {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    background-size: cover;
}
.headerslide,
.headerslideshow,
.headerslideshowwrap {
    position: absolute;
    top: 0 !important;
    bottom: 0;
    width: 100%;
    background-size: cover;
}
.headerwithslideshowbg .slideshowControlDotsWrap,
.headerwithslideshowbg .slideshowNextButton,
.headerwithslideshowbg .slideshowPrevButton {
    display: none;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .header-container .header {
        height: 90vh;
    }
    #globalNav .header-top-bar-logo-default {
        display: block;
    }
    .header .title {
        z-index: 0;
    }
    .subpage-header .subpage-header-image {
        margin-top: 50px;
        height: 25vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .subpage-header .subpage-header-image img {
        height: 100%;
    }
}
@media only screen and (min-width: 767px) and (orientation: portrait) {
    .header .title {
        margin: 0 auto;
    }
    .header .title h1 {
        font-size: 60px;
        line-height: 60px;
        margin-top: -6px;
    }
    .header .title.topoffset,
    .headertwo .title.image.topoffset {
        margin-top: 125px;
    }
    .header.portrait-title-image {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .header.portrait-title-image .title.image {
        max-width: 230px;
    }
    .header .subtitle {
        margin-top: 8px;
    }
    .header .subtitle:last-child {
        margin-bottom: 0;
    }
    .header .subtitle h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .header .rowbutton {
        margin-top: 16px;
    }
    .featured-header .title {
        width: 755px;
        margin: 0 auto;
    }
    .featured-header .title h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .featured-header .subtitle h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .social a span {
        width: 40px;
        height: 40px;
    }
    .subpage-header-details {
        margin-top: 50px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .subpage-header .rowtitles {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 800px;
        width: auto;
    }
    .subpage-header .info {
        margin-bottom: 40px;
    }
    .subpage-header .info .more {
        display: inline;
    }
    .subpage-header .eventdetails {
        margin-bottom: -15px;
    }
    .subpage-header .details {
        margin-bottom: 40px;
    }
    .headerwithvideo .headervideo {
        display: block;
    }
}
@media only screen and (min-width: 767px) {
    .headerwithvideo .headervideo {
        display: block;
    }
}
@media only screen and (min-width: 979px) {
    .header .title h1 {
        font-size: 75px;
        line-height: 75px;
    }
    .header.portrait-title-image .title.image {
        max-width: 300px;
    }
    .featured-header .title {
        width: 755px;
        margin: 0 auto;
    }
    .featured-header .title h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .featured-header .subtitle h2 {
        font-size: 36px;
        line-height: 36px;
    }
    .headerwithvideo .headervideo {
        height: auto;
    }
    .header.featured-header-long-title .title h1 {
        font-size: 60px;
        line-height: 60px;
    }
}
@media only screen and (min-width: 1199px) {
    .headerwithvideo .headervideo {
        height: auto;
    }
}
@media only screen and (min-width: 1800px) {
    .header {
        padding-bottom: 300px;
    }
    .header .topoffset {
        margin-top: 50px;
    }
    .header .subtitle h2 {
        font-size: 44px;
        line-height: 50px;
    }
    .featured-header .title {
        width: 1200px;
    }
}
